.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  grid-template-rows: 1fr 10fr;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.cat {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  &>a,
  &>div {
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    transition: all 0.12s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    margin: 5%;

    &:hover {
      margin: 3%;
    }
  }

  &.fr {
    > :nth-child(1):not(.addFRCC) {
      background-image: url(https://www.frontrange.edu/images/default-source/ewolf-portal-login/ewolf.png);
      background-color: white;
    }

    > :nth-child(1).frcc {
      background-color: white;
      color: black;
    }

    :nth-child(2) {
      background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.slipstick.com%2Fimages%2F2019%2Fgeneral%2Foutlook-icon.png&f=1&nofb=1);

      @media (max-width: 1000px) {
        background-size: 50%;
      }

      background-size: 25%;
    }

    :nth-child(3) {
      background: red;
    }
  }

  &.tcc {
    > :nth-child(1) {
      background: #121212;
      color: white;
    }

    > :nth-child(2) {
      background: #00796b;
      color: white;

      img {
        padding: 1px;
      }
    }
  }

  &.tsd {
    :nth-child(1) {
      background: url(https://peak.getfueled.com/img/PEAK-logo-white.png) no-repeat center, url(https://peak.getfueled.com/img/escher-bg.png) repeat fixed !important;
    }

    :nth-child(2) {
      background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F281%2F281769.png&f=1&nofb=1');
      background-size: 25%;

      @media (max-width: 1000px) {
        background-size: 50%;
      }
    }
  }

  :nth-child(3) {
    background: red;
  }
}

.title {
  text-align: center;
}

.IqJTee {
  color: #f0f0f0;
  font-family: 'Product Sans', Arial, Helvetica, sans-serif;
  font-size: 1.38125rem;
  position: relative;
  top: -0.1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


.google_meet_logo {
  filter: saturate(1) brightness(100);
}

a {
  display: block;
}

a {
  text-decoration: none;
}

.addFRCC div {
  display: flex;
  color: black;
}